
body {
    background-color: skyblue;
}

.box {
    margin: auto;
    width: 30%;
    border:  black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.line {
        margin:auto;
        width: 100%;
        border:grey;
        padding: 15px;
        background-color: grey;
        border-radius: 10px;
}
    
input[type=text], select {	
    width: 300px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 1px solid black;
   }

input[type=submit] {
    width: 35%;
    background-color: white;
    color: 4px solid black;
    padding: 12px 16px;
    cursor: pointer;
    float: right;
    border: 2px solid grey;
}
.h1 {
  text-align: left;
  color: grey;
  font-family: Ariel;

}
